.navbar{
    background-color: rgb(255,255,255) !important;
}

/* This sets the colour of the 'Source' link in the navbar */
.navbar .nav-item a{
    color: rgb(0,0,0) !important;
}

/* dropdown-menu manages the right-hand menu (where we access the Playground
   amongst other things) */
.navbar .dropdown-menu{
    /*  the rgba() function works just like rgb in that
        it sets a colour.  But the fourth element sets an
        'alpha' or transaparency value.  Here we are saying
        to set the transparency to 30%
    */
    background-color: rgba(0,0,0);
}
/* Sets properties for when hovering over a menu item in the 
   drop-down menu */
.dropdown-item:hover{
    background-color: rgba(255,211,0,0.5);
    text-decoration:underline;
}

/* Sets the appearnce for the 'Login' button... */
.btn-login{
  color: rgb(55,65,81);
  background-color: rgb(255, 255, 255);
  border-color: rgb(209,213,219);
}
/* ...and when hovering over it */
.btn-login:hover{
  color: rgb(160,146,202);
  background-color: rgb(249, 250, 251);
  border-color: rgb(209,213,219);
}

/* Sets the appearnce for the 'Login' button... */
.btn-resources{
  color: rgb(39,36,79);
  background-color: rgb(255, 255, 255);
  border-color: rgb(255,255,255);
}
/* ...and when hovering over it */
.btn-resources:hover{
  color: rgb(209,216,229);
  background-color: rgb(255, 255, 255);
  border-color: rgb(255,255,255);
  text-decoration:underline;
}

/* You can make your own styles from scratch if you wish.  There's a lot
  you can do with styles - much more than setting font sizes and colours.
  Here's a brief example.  Feel free to explore this further.  Search online
  or refer to the Mozilla link at the top of this file
*/
.MJFheader{
    /* Set the colour to red */
    color: rgb(255,0,0);
    /* Make the font bigger.  This increases the font size by 20% */
    font-size: 1.2em;
    /* Make it bold */
    font-weight: bolder;
    /* Add a text shadow */
    /* check out text shadows here: https://cssreference.io/property/text-shadow/ */
    text-shadow: 2px 4px 10px tomato;
}
